<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Account - Calarry Counter</title>
    <link type="text/css" href="/style.css" rel="stylesheet">
</head>
<body>
    <!-- Import header.ejs (the dash after % means it won't escape any HTML characters) -->
    <%- include("header") %>

    <div class = "content">













        <%- include("footer") %>
    </div>

</body>
</html>
