<header>
    <h1><a href ="/">Calarry Counter</a></h1>
    <nav>
        <ul class="navul">
            <li class="navli"><a href="/food">Food</a></li>
            <li class="navli"><a href="/calculator">Calculator</a></li>
            <li class="navli"><a href="#">Account</a></li>
        </ul>
    </nav>
</header>