<header><h1>Calarry Counter</h1>
    <nav>
        <ul class="navul">
            <li class="navli"><a href="/addpage">Food</a></li>
            <li class="navli"><a href="/calculator">Calculator</a></li>
            <li class="navli"><a href="#">TBA</a></li>
        </ul>
    </nav>
</header>